In [1]:
!pip install beautifulsoup4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [2]:
!pip install requests

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)

In [8]:
from bs4 import BeautifulSoup

In [9]:
import requests

In [17]:
from csv import writer

In [10]:
url = "https://www.pararius.com/apartments/amsterdam"
page = requests.get(url)

In [11]:
print(page)

<Response [200]>

In [12]:
soup = BeautifulSoup(page.content,"html.parser")

In [13]:
lists = soup.find_all("section",class_="listing-search-item")

In [16]:
for list in lists:
  title = list.find("a",class_="listing-search-item__link listing-search-item__link--title").text.replace("\n"," ")
  location = list.find("div",class_="listing-search-item__sub-title").text.replace("\n"," ")
  price = list.find("div",class_="listing-search-item__price").text.replace("\n"," ")
  area = list.find("li",class_="illustrated-features__item illustrated-features__item--surface-area").text.replace("\n"," ")
  room = list.find("li",class_="illustrated-features__item illustrated-features__item--number-of-rooms").text.replace("\n"," ")
  info = [title,location,price,area,room]
  print(info)

['                          Apartment Keizersgracht                              ', '             1016 EG Amsterdam (Grachtengordel-West)         ', '                 €6,000 per month             ', '270 m²', '4 rooms']
['                          Apartment Reguliersgracht 78 B                              ', '             1017 LV Amsterdam (Grachtengordel-Zuid)         ', '                 €5,500 per month             ', '141 m²', '4 rooms']
['                          Project: The Hub Apartments - The Hub Apartments | Type T5                              ', '             1068 TD Amsterdam (Osdorp-Oost)         ', '                 €1,540 - €1,550 per month             ', '58 m²', '2 rooms']
['                          Project: The Hub Apartments - The Hub Apartments | Type T7                              ', '             1068 TD Amsterdam (Osdorp-Oost)         ', '                 €2,045 per month             ', '75 m²', '3 rooms']
['                          Project: The Hub Apartments - The Hub Apartments | Type T8                              ', '             1068 TD Amsterdam (Osdorp-Oost)         ', '                 €1,825 - €1,860 per month             ', '64 m²', '3 rooms']
['                          Project: The Hub Apartments - The Hub Apartments | Type T1                              ', '             1068 TD Amsterdam (Osdorp-Oost)         ', '                 €1,530 - €1,650 per month             ', '58 m²', '2 rooms']
['                          Project: The Hub Apartments - The Hub Apartments | Type T9                              ', '             1068 TD Amsterdam (Osdorp-Oost)         ', '                 €1,380 - €1,415 per month             ', '52 m²', '2 rooms']
['                          Project: The Hub Apartments - The Hub Apartments | Type T2                              ', '             1068 TD Amsterdam (Osdorp-Oost)         ', '                 €1,530 - €1,650 per month             ', '59 m²', '2 rooms']
['                          Project: The Hub Apartments - The Hub Apartments | Type T10                              ', '             1068 TD Amsterdam (Osdorp-Oost)         ', '                 €1,320 - €1,350 per month             ', '47 m²', '2 rooms']
['                          Project: The Hub Apartments - The Hub Apartments | Type T6                              ', '             1068 TD Amsterdam (Osdorp-Oost)         ', '                 €1,540 - €1,550 per month             ', '59 m²', '2 rooms']
['                          Project: The Hub Apartments - The Hub Apartments | Type T3                              ', '             1068 TD Amsterdam (Osdorp-Oost)         ', '                 €1,770 - €1,830 per month             ', '63 m²', '3 rooms']
['                          Project: The Hub Apartments - The Hub Apartments | Type T4                              ', '             1068 TD Amsterdam (Osdorp-Oost)         ', '                 €1,795 - €1,805 per month             ', '63 m²', '3 rooms']
['                          Project: Q-Residences | Quartz - APPARTEMENT H–F’ LUXE                              ', '             1081 AB Amsterdam (Buitenveldert-West)         ', '                 €1,950 - €2,000 per month             ', '77 m²', '3 rooms']
['                          Project: Q-Residences | Quartz - APPARTEMENT H–I LUXE                              ', '             1081 AB Amsterdam (Buitenveldert-West)         ', '                 €2,790 - €2,850 per month             ', '107 m²', '4 rooms']
['                          Project: Q-Residences | Quartz - APPARTEMENT H–I’ LUXE                              ', '             1081 AB Amsterdam (Buitenveldert-West)         ', '                 €2,790 - €2,850 per month             ', '107 m²', '4 rooms']
['                          Project: Q-Residences | Quartz - APPARTEMENT H–F LUXE                              ', '             1081 AB Amsterdam (Buitenveldert-West)         ', '                 €1,950 - €2,000 per month             ', '77 m²', '3 rooms']
['                          Project: Q-Residences | Quartz - APPARTEMENT H–G LUXE                              ', '             1081 AB Amsterdam (Buitenveldert-West)         ', '                 €1,900 - €1,925 per month             ', '74 m²', '3 rooms']
['                          Project: Q-Residences | Quartz - APPARTEMENT H–J LUXE                              ', '             1081 AB Amsterdam (Buitenveldert-West)         ', '                 €1,575 - €1,650 per month             ', '62 m²', '2 rooms']
['                          Project: Q-Residences | Quartz - APPARTEMENT H–B LUXE                              ', '             1081 AB Amsterdam (Buitenveldert-West)         ', '                 €1,350 per month             ', '49 m²', '2 rooms']
['                          Project: Q-Residences | Quartz - APPARTEMENT H-A LUXE                              ', '             1081 AB Amsterdam (Buitenveldert-West)         ', '                 €1,650 - €1,675 per month             ', '68 m²', '3 rooms']
['                          Project: Q-Residences | Quartz - APPARTEMENT H–A’ LUXE                              ', '             1081 AB Amsterdam (Buitenveldert-West)         ', '                 €1,650 - €1,675 per month             ', '68 m²', '3 rooms']
['                          Project: Q-Residences | Quartz - APPARTEMENT H–H LUXE                              ', '             1081 AB Amsterdam (Buitenveldert-West)         ', '                 €1,575 - €1,700 per month             ', '64 m²', '3 rooms']
['                          Project: Q-Residences | Quartz - APPARTEMENT H–E LUXE                              ', '             1081 AB Amsterdam (Buitenveldert-West)         ', '                 €1,550 - €1,675 per month             ', '61 m²', '3 rooms']
['                          Project: Q-Residences | Quartz - APPARTEMENT H–D’ LUXE                              ', '             1081 AB Amsterdam (Buitenveldert-West)         ', '                 €1,350 per month             ', '49 m²', '2 rooms']
['                          Project: Q-Residences | Quartz - APPARTEMENT H–G’ LUXE                              ', '             1081 AB Amsterdam (Buitenveldert-West)         ', '                 €1,900 - €1,925 per month             ', '74 m²', '3 rooms']
['                          Project: Q-Residences | Quartz - APPARTEMENT H–D LUXE                              ', '             1081 AB Amsterdam (Buitenveldert-West)         ', '                 €1,350 per month             ', '49 m²', '2 rooms']
['                          Apartment Naritaweg                              ', '             1043 CB Amsterdam (Bedrijventerrein Sloterdijk)         ', '                 €1,840 per month             ', '87 m²', '2 rooms']
['                          Apartment Naritaweg                              ', '             1043 CB Amsterdam (Bedrijventerrein Sloterdijk)         ', '                 €965 per month             ', '53 m²', '1 room']
['                          Apartment Naritaweg                              ', '             1043 CB Amsterdam (Bedrijventerrein Sloterdijk)         ', '                 €1,780 per month             ', '77 m²', '3 rooms']
['                          Apartment Cornelis Anthoniszstraat                              ', '             1071 VX Amsterdam (Museumkwartier)         ', '                 €2,850 per month             ', '100 m²', '4 rooms']
['                          House Egelantiersgracht 73 1e                              ', '             1015 RE Amsterdam (Jordaan)         ', '                 €2,250 per month             ', '125 m²', '4 rooms']
['                          House Oudezijds Achterburgwal 155 1e                              ', '             1012 DH Amsterdam (Burgwallen-Oude Zijde)         ', '                 €1,300 per month             ', '64 m²', '2 rooms']

In [19]:
with open("housing.csv","w",encoding="utf8",newline="") as f:
  thewriter = writer(f)
  header = ["Title","Location","Price","Area","Room"]
  thewriter.writerow(header)

  for list in lists:
     title = list.find("a",class_="listing-search-item__link listing-search-item__link--title").text.replace("\n"," ")
     location = list.find("div",class_="listing-search-item__sub-title").text.replace("\n"," ")
     price = list.find("div",class_="listing-search-item__price").text.replace("\n"," ")
     area = list.find("li",class_="illustrated-features__item illustrated-features__item--surface-area").text.replace("\n"," ")
     room = list.find("li",class_="illustrated-features__item illustrated-features__item--number-of-rooms").text.replace("\n"," ")
     
     info = [title,location,price,area,room]
     thewriter.writerow(info)

In [20]:
import pandas as pd

In [21]:
housing_df = pd.read_csv("/content/housing.csv")
housing_df

,Title,Location,Price,Area,Room
0,Apartment Keizersgra...,1016 EG Amsterdam (Grachtengordel...,"€6,000 per month",270 m²,4 rooms
1,Apartment Reguliersg...,1017 LV Amsterdam (Grachtengordel...,"€5,500 per month",141 m²,4 rooms
2,Project: The Hub Apa...,1068 TD Amsterdam (Osdorp-Oost) ...,"€1,540 - €1,550 per month ...",58 m²,2 rooms
3,Project: The Hub Apa...,1068 TD Amsterdam (Osdorp-Oost) ...,"€2,045 per month",75 m²,3 rooms
4,Project: The Hub Apa...,1068 TD Amsterdam (Osdorp-Oost) ...,"€1,825 - €1,860 per month ...",64 m²,3 rooms
5,Project: The Hub Apa...,1068 TD Amsterdam (Osdorp-Oost) ...,"€1,530 - €1,650 per month ...",58 m²,2 rooms
6,Project: The Hub Apa...,1068 TD Amsterdam (Osdorp-Oost) ...,"€1,380 - €1,415 per month ...",52 m²,2 rooms
7,Project: The Hub Apa...,1068 TD Amsterdam (Osdorp-Oost) ...,"€1,530 - €1,650 per month ...",59 m²,2 rooms
8,Project: The Hub Apa...,1068 TD Amsterdam (Osdorp-Oost) ...,"€1,320 - €1,350 per month ...",47 m²,2 rooms
9,Project: The Hub Apa...,1068 TD Amsterdam (Osdorp-Oost) ...,"€1,540 - €1,550 per month ...",59 m²,2 rooms
10,Project: The Hub Apa...,1068 TD Amsterdam (Osdorp-Oost) ...,"€1,770 - €1,830 per month ...",63 m²,3 rooms
11,Project: The Hub Apa...,1068 TD Amsterdam (Osdorp-Oost) ...,"€1,795 - €1,805 per month ...",63 m²,3 rooms
12,Project: Q-Residence...,1081 AB Amsterdam (Buitenveldert-...,"€1,950 - €2,000 per month ...",77 m²,3 rooms
13,Project: Q-Residence...,1081 AB Amsterdam (Buitenveldert-...,"€2,790 - €2,850 per month ...",107 m²,4 rooms
14,Project: Q-Residence...,1081 AB Amsterdam (Buitenveldert-...,"€2,790 - €2,850 per month ...",107 m²,4 rooms
15,Project: Q-Residence...,1081 AB Amsterdam (Buitenveldert-...,"€1,950 - €2,000 per month ...",77 m²,3 rooms
16,Project: Q-Residence...,1081 AB Amsterdam (Buitenveldert-...,"€1,900 - €1,925 per month ...",74 m²,3 rooms
17,Project: Q-Residence...,1081 AB Amsterdam (Buitenveldert-...,"€1,575 - €1,650 per month ...",62 m²,2 rooms
18,Project: Q-Residence...,1081 AB Amsterdam (Buitenveldert-...,"€1,350 per month",49 m²,2 rooms
19,Project: Q-Residence...,1081 AB Amsterdam (Buitenveldert-...,"€1,650 - €1,675 per month ...",68 m²,3 rooms
20,Project: Q-Residence...,1081 AB Amsterdam (Buitenveldert-...,"€1,650 - €1,675 per month ...",68 m²,3 rooms
21,Project: Q-Residence...,1081 AB Amsterdam (Buitenveldert-...,"€1,575 - €1,700 per month ...",64 m²,3 rooms
22,Project: Q-Residence...,1081 AB Amsterdam (Buitenveldert-...,"€1,550 - €1,675 per month ...",61 m²,3 rooms
23,Project: Q-Residence...,1081 AB Amsterdam (Buitenveldert-...,"€1,350 per month",49 m²,2 rooms
24,Project: Q-Residence...,1081 AB Amsterdam (Buitenveldert-...,"€1,900 - €1,925 per month ...",74 m²,3 rooms
25,Project: Q-Residence...,1081 AB Amsterdam (Buitenveldert-...,"€1,350 per month",49 m²,2 rooms
26,Apartment Naritaweg ...,1043 CB Amsterdam (Bedrijventerre...,"€1,840 per month",87 m²,2 rooms
27,Apartment Naritaweg ...,1043 CB Amsterdam (Bedrijventerre...,€965 per month,53 m²,1 room
28,Apartment Naritaweg ...,1043 CB Amsterdam (Bedrijventerre...,"€1,780 per month",77 m²,3 rooms
29,Apartment Cornelis A...,1071 VX Amsterdam (Museumkwartier...,"€2,850 per month",100 m²,4 rooms
30,House Egelantiersgra...,1015 RE Amsterdam (Jordaan),"€2,250 per month",125 m²,4 rooms
31,House Oudezijds Acht...,1012 DH Amsterdam (Burgwallen-Oud...,"€1,300 per month",64 m²,2 rooms